{% extends "layouts/page.njk" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "DEFRA ID Relationship Role"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">

        <form action="{{ action }}" method="post">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
          <input type="hidden" name="userId" value="{{ userId }}"/>
          <input type="hidden" name="relationshipId" value="{{ relationshipId }}"/>

          {% if redirectUri %}
             <input type="hidden" name="redirect_uri" value="{{ redirectUri }}"/>
          {% endif %}

          {% call govukFieldset() %}

            {{ govukInput({
               label: {
                  text: "Role Name"
               },
               id: "roleName",
               name: "roleName",
               value: roleName,
               autocomplete: "rolename",
               classes: "govuk-!-width-one-half",
               errorMessage: {
                 text: formErrors.roleName.message
               } if formErrors.roleName.message
            }) }}


            {{ govukSelect({
               id: "roleStatus",
               name: "roleStatus",
               label: {
                  text: "Role Status"
               },
               errorMessage: {
                 text: formErrors.roleStatus.message
               } if formErrors.roleStatus.message,
               items: [
                  {
                     value: "incomplete",
                     text: "Incomplete"
                  },
                  {
                     value: "pending",
                     text: "Pending",
                     selected: true
                  },
                  {
                     value: "complete",
                     text: "Complete (approved)"
                  },
                  {
                     value: "rejected",
                     text: "Rejected"
                  },
                  {
                     value: "blocked",
                     text: "Blocked"
                  },
                  {
                     value: "removed",
                     text: "Removed"
                  },
                  {
                     value: "offboarded",
                     text: "Offboarded"
                  }
               ]
            }) }}

          {% endcall %}

         <div class="govuk-button-group">

            {{ govukButton({
               text: "Add role"
            }) }}

         </div>

        </form>

         <div class="govuk-button-group">

            <a class="govuk-link" href="{{ relationshipLink }}">Go back</a>

            </div>
      </div>
    </div>
  </div>


{% endblock %}
