{% extends "layouts/page.njk" %}
{% import "registration/components/relationship-summary.njk" as relationshipSummary %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "DEFRA ID Stub User Set Up"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">

        {% if errorSummaryItems.length %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorSummaryItems
          }) }}
        {% endif %}

        <form action="{{ action }}" method="post">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
          <input type="hidden" name="userId" value="{{ userId }}"/>

          {% if redirectUri %}
             <input type="hidden" name="redirect_uri" value="{{ redirectUri }}"/>
          {% endif %}

          {% if currentRelationship|length > 0 %}
            {% call govukFieldset({
               legend: {
                  text: "Relationships",
                  classes: "govuk-fieldset__legend--m",
                  isPageHeading: false
               }
               }) %}

               {{ relationshipSummary.relationshipSummary(currentRelationship) }}

               {% for relationship in relationships %}

                  {{ relationshipSummary.relationshipSummary(relationship) }}

               {% endfor %}

            {% endcall %}
          {% endif %}

          {% call govukFieldset({
            legend: {
               text: "New User Relationships",
               classes: "govuk-fieldset__legend--m",
               isPageHeading: false
            }
            }) %}

            {{ govukInput({
               label: {
                  text: "Relationship ID"
               },
               id: "relationshipId",
               name: "relationshipId",
               value: relationshipId,
               autocomplete: "relationshipId",
               classes: "govuk-!-width-three-quarters",
              errorMessage: {
                text: formErrors.relationshipId.message
              } if formErrors.relationshipId.message
            }) }}

            {{ govukInput({
               label: {
                  text: "Organisation ID"
               },
               id: "organisationId",
               name: "organisationId",
               value: organisationId,
               autocomplete: "organisationId",
               classes: "govuk-!-width-three-quarters"
            }) }}

            {{ govukInput({
               label: {
                  text: "Organisation Name"
               },
               id: "organisationName",
               name: "organisationName",
               value: organisationName,
               autocomplete: "organisationName",
               classes: "govuk-!-width-three-quarters",
               errorMessage: {
                 text: formErrors.organisationName.message
               } if formErrors.organisationName.message
            }) }}

            {{ govukRadios({
              id: "relationshipRole",
              name: "relationshipRole",
              classes: "govuk-radios--inline",
              fieldset: {
                legend: {
                  text: "Relationship role",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: relationshipRoleItems,
              attributes: {
                "data-1p-ignore": ""
              },
              errorMessage: {
                text: formErrors.relationshipRole.message
              } if formErrors.relationshipRole.message
            }) }}

          {% endcall %}


         <div class="govuk-button-group">

            {{ govukButton({
               text: "Add relationship"
            }) }}

            </div>
         <div class="govuk-button-group">

            <a class="govuk-link" href="{{ goBackLink }}">Go back</a>

            {% if currentRelationship|length > 0 %}
               <a class="govuk-link" href="{{ summaryLink }}">Finish</a>
            {% endif %}
            </div>

        </form>

      </div>
    </div>
  </div>


{% endblock %}
